/* General setup */

* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0 auto;
    min-width: 1000px;
    max-width: 1400px;
  }
  
  /* Layout */
  
  section {
    float: left;
    width: 50%;
  }
  
  aside {
    float: left;
    width: 30%;
  }
  
  nav {
    float: left;
    width: 20%;
  }
  
  footer {
    clear: both;
  }
  
  header, section, aside, nav, footer {
    padding: 20px;
  }
  
  /* header and footer */
  
  header, footer {
    border-top: 5px solid #a66;
    border-bottom: 5px solid #a66;
  }
  
  /* WRITE YOUR CODE BELOW HERE */
   /* Altering font style */
   /* Making the font roboto */
   @font-face {
        font-family: 'Roboto' , sans-serif;
        src: url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
    }
    @font-face {
        font-family: "Anta", sans-serif;
        src: url("https://fonts.googleapis.com/css2?family=Anta&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
    }

/*Everything font related*/

   html{
    font-family:"Roboto", serif ;
    font-size: 10px;
   }
   h1, h2 {
    font-family:"Anta", sans-serif ;
    letter-spacing: 2px;
  }
  h1 {
    font-size: 5rem;
    text-align: center;
  }
  h2 {
    font-size: 3.2rem;
  }
  section h2 + p {
    text-indent: 20px;
  }
  p, li {
    font-size: 1.6rem;
    line-height: 1.5;
    letter-spacing: 0.5px;
    word-spacing: 3px;
  }
  /*bellow magin lists will be altered*/
  ul {
    list-style-type: square;
    margin: 1.6rem 0;
  }
  ul, ol {
    margin: 1.6rem 0;
  }
  ol {
    list-style-type: ;
    margin: 1.6rem 0;
  }
  /* styling of links */
  a {
    outline: none;
  }
  a:link, a:visited {
    color: rgb(207, 110, 110);
  }
  
  /* everthing related to navigation menu */
  nav li {
    list-style-type: none;
    margin-bottom: 2rem;
  }
  nav ul {
    padding-left: 0;
    margin-top: 0.8rem;
  }