/* General setup */

* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0 auto;
    min-width: 1000px;
    max-width: 1400px;
  }
  
  /* Layout */
  
  section {
    float: left;
    width: 50%;
  }
  
  aside {
    float: left;
    width: 30%;
  }
  
  nav {
    float: left;
    width: 20%;
  }
  
  footer {
    clear: both;
  }
  
  header, section, aside, nav, footer {
    padding: 20px;
  }
  
  /* header and footer */
  
  header, footer {
    border-top: 5px solid #a66;
    border-bottom: 5px solid #a66;
  }
  
  /* WRITE YOUR CODE BELOW HERE */
   /* Altering font style */
   /* Making the font roboto */
   @font-face {
        font-family: Roboto;
        src: url(fonts/Roboto-Black.ttf);
    }
    /* Making the font Anta */
    @font-face {
        font-family: Anta ;
        src: url(fonts/Anta-Regular.ttf);
    }

/*Everything font related*/

   html{
    font-family:Roboto;
    font-size: 10px;
   }
   h1, h2 {
    font-family:Anta;
    letter-spacing: 2px;
  }
  h1 {
    font-size: 5rem;
    text-align: center;
  }
  h2 {
    font-size: 3.2rem;
  }
  section h2 + p {
    text-indent: 20px;
  }
  p, li {
    font-size: 1.6rem;
    line-height: 1.5;
    letter-spacing: 0.5px;
    word-spacing: 3px;
    
  }
  /*bellow magin lists will be altered*/
  ul {
    list-style-type: square;
    margin: 1.6rem 0;
  }
  ul, ol {
    margin: 1.6rem 0;
  }
  ol {
    list-style-type: ;
    margin: 1.6rem 0;
  }
  /* changeeee styling of links */
  a {
    outline: none;
    
  }
  nav li a {
    text-decoration: none;
    display: inline-block;
    width: 100%;
    line-height: 3;
    text-align: center;
    font-size: 2.5rem;
    border: 1px solid rgb(181, 108, 108);
  }
  nav li {
    list-style-type: none;
    margin-bottom: 2rem;
  }

  a:link, a:visited {
    color: rgb(207, 110, 110);
  }
  a:focus, a:hover {
    text-decoration: none;
  }
  /*sets the restriction that any website with http it will take of this logo beside it*/
  a[href*="http"] {
    padding-right: 17px;
    background: url(external-link-52.png) no-repeat 100% 0;
    background-size: 16px 16px;
  }
  a:active {
    color: transparent;
    text-shadow: 0px 0px 2px #f00,
                 0px 0px 3px #f00,
                 0px 0px 4px black,
                 0px 0px 5px black;
  /* everthing related to navigation menu */
  /* altering padding for ordered and unordered lists*/
  nav li {
    list-style-type: none;
    margin-bottom: 2rem;
  }
  nav ul {
    padding-left: 0;
    margin-top: 0.8rem;
  }
  nav li a {
    text-decoration: none;
    display: inline-block;
    width: 100%;
    line-height: 4;
    text-align: center;
    font-size: 2.5rem;
    border: 1px solid rgb(176, 89, 89);
  }
  /*changes single line colour of links when hovered over*/
  nav li a:focus, nav li a:hover {
    color: white;
    background: #a66;
}