body {
    background-color: #fff;
    color: #333;
    margin: 0;
    font: 1.2em / 1.2 Arial, Helvetica, sans-serif;
  }

  img {
      max-width: 100%;
      display: block;
  }
  
  .logo {
    font-size: 200%;
    padding: 50px 20px;
    margin: 0 auto;
    max-width: 980px;
  }
  /*grid is made and the gap between is abb 20px, 
  container is also being divided into three equal columns
  with one-fith being directed at each unit. Also fr is the unit of measure*/
  .grid {
    margin: 0 auto;
    padding: 0 20px;
    max-width: 980px;
    display:grid;
    gap: 20px;
    grid-template-columns: 3fr 1fr;
  }
  /*stick elements created allowing it to stay in same place*/
  nav {
    background-color: #000;
    padding: .5em;
    position: sticky;
    top: 0;
  }
  
  nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
    padding: .5em 1em;
  }
  
  .photos {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .feature {
      width: 200px;
  }