body,html{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.125rem;
    text-shadow:2px 2px 4px black;
    text-align: center;
    color: white;
}
.box{
    width: 200px;
    height:  112.5px;
    margin: 10px;
    padding: 25px;
    border: 5px solid black;
    background-color: red;
    justify-content: center;
    display: flex;
    align-items: center;
    border-radius: 8px;
    box-shadow: 2px 2px 8px black;
      
    border: 1px solid rgb(244, 52, 52);
    background: linear-gradient(to bottom right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.2) 30%, rgba(255, 255, 255, 0.2) 100%), red;

}

