body,html{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.box{
    width: 200px;
    height: 200px;
    margin: 10px;
    padding: 25px;
    border: 5px solid black;
    background-color: red;
    box-sizing: border-box;
  
}
.div{
    text-shadow:2px 2px 4px black;
    text-align: center;
    color: aliceblue;
}
